@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: Nunito, sans-serif;
}

.labelStyle {
  font-family: Nunito;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.toolTipIcon {
  font-size: 0.85em;
  min-width: 48px;
  height: 100%;
  border: 2px solid;
  border-radius: 50%;
  letter-spacing: 0.45em;
  padding-left: 0.45em;
  margin-left: 0.33em;
  margin-right: -0.1em;
  transition: 0.25s ease-in-out;
  cursor: default;
  user-select: none;
  opacity: var(--fade);
}

.toolTipIcon:hover {
  opacity: 1;
}

.toolTipWrapper {
  font-size: 14px !important;
  max-width: 20vw !important;
  transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out !important;
}
