.container {
  position: relative;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  color: var(--main);
}

.textColumn,
.header,
.footer {
  width: 55vw;
  max-width: 55vw;
  min-width: 800px;
}

.header,
.footer {
  display: flex;
  position: fixed;
  margin: 24px 0;
  transition: opacity 0.3s cubic-bezier(0.27, 0.01, 0, 0.99);
  opacity: 1;
}
.header {
  top: 0;
  justify-content: space-between;
}
.themeToggle {
  cursor: pointer;
  opacity: var(--fade);
  transition: 0.8s cubic-bezier(0.27, 0.01, 0, 0.99);
}
.themeToggle:hover {
  opacity: 1;
  filter: var(--hoverFilter);
}
.footer {
  bottom: 0;
  color: var(--gray);
}
.footerItem {
  margin-right: 64px;
}
.footerLink {
  transition: 0.3s cubic-bezier(0.27, 0.01, 0, 0.99);
  font-weight: bold;
}
.footerLink:hover {
  color: var(--highlight);
}

.textCOlumn {
  margin-top: 32px;
}

.textPage {
  margin-top: 32px;
  position: relative;
  max-height: 30vh;
  overflow: hidden;
}

.textFrame {
  position: relative;
  transition: transform 1s ease;
}

.textWrapper {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.results {
  display: flex;
  flex-direction: column;
}

.resultsWrapper {
  height: 100%;
  display: flex;
  align-items: stretch;
}

.statsColumn {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  animation: fade 1s;
  min-width: 180px;
}
.largeScore {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 12px;
}

.highlightLabel {
  color: var(--highlight);
}

.largeScore .largeScoreNumber {
  font-size: 115px;
  letter-spacing: -0.03em;
  line-height: 1;
  margin-left: -6px;
}

.smallScore {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  margin-bottom: 22px;
}

.smallScoreLabel,
.largeScoreLabel {
  z-index: 1;
  margin-bottom: 2px;
  white-space: nowrap;
}

.smallScore .smallScoreNumber {
  font-weight: bold;
}

.number {
  font-family: "Comfortaa";
}

.miss {
  color: var(--incorrect);
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
