.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textColumn {
  width: 50vw;
  max-width: 50vw;
}

.textWrapper {
  padding: 40vh 0;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.textFrame {
  z-index: 1;
  width: 50vw;
  height: 100vh;
  position: fixed;
  top: 0;
}

.textFrame:before,
.textFrame:after {
  z-index: 1;
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
}

.textFrame:before {
  top: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 55%,
    transparent 95%
  );
}
.textFrame:after {
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 55%,
    transparent 95%
  );
}

.streakColumn,
.wpmColumn {
  top: 0;
  position: fixed;
  width: 25vw;
  height: 100vh;
  max-width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fade 1s;
}
.streakColumn {
  right: 0;
}
.wpmColumn {
  left: 0;
}
.largeScore {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(0, 0, 0, 0.33);
}

.largeScore .largeScoreLabel {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.33em;
  text-align: center;
}

.largeScore .largeScoreNumber {
  font-size: 100px;
  line-height: 1em;
}
.smallScoreWrapper {
  display: flex;
  width: 25%;
  align-items: space-between;
  justify-content: center;
  color: rgba(0, 0, 0, 0.33);
}

.smallScore {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
  font-size: 18px;
}

.smallScore .smallScoreLabel {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.33em;
  text-align: center;
}

.smallScore .smallScoreNumber {
  font-weight: bold;
}

.timeWrapper {
  z-index: 2;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.33);
  position: fixed;
  bottom: 25vh;
  width: 50vw;
  display: flex;
  align-items: center;
}

.timeBar {
  position: relative;
  width: 100%;
  height: 1px;
  margin-right: 8px;
  background-color: rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.timeBarProgress {
  display: block;
  height: 1px;
  background-color: rgba(0, 0, 0, 1);
  transition: transform 1s linear;
  width: 100%;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
